@model mvc.Models.Contato

@{
    ViewData["Title"] = "Criar novo contato";
}

<div class="row">
    <h2 class="text-center">
        Criar novo contato
    </h2> 
</div>

<hr />

<div class="row">
    <div class="d-flex justify-content-center">
        <form asp-action="Criar">
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
             @* <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
            </div> *@
            @*  <div class="form-group">
                <label asp-for="Ativo" class="control-label"></label>
                <input type="checkbox" asp-for="Ativo" class="form-check-input" />
            </div> *@
             <div class="form-group mt-2">
                <input type=submit value="Criar" class="btn btn-primary"/>
                <a class="btn btn-secondary" asp-action="Index">Voltar</a>
            </div>
           
        </form>
    </div>
</div>

<hr />

