@model contato_mvc.Domain.Models.Contato

@{
    ViewData["Title"] = "Editar novo contato";
}

<div class="card" >
    <div class="card-header">
        <h4 class="card-title">Editar contato</h4>
    </div>
    <div class="card-body">
        <form asp-action="Editar">
            <div class="form-group">
                <label asp-for="Ativo" class="control-label"></label>
                <input type="checkbox" asp-for="Ativo" class="form-check-input" />
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="col-10 my-4">
                @Html.DisplayNameFor(x => x.Telefones)
            </div>
            <div class="col-10 pb-4">
                <table class="table table-striped-columns">
                    <tbody>
                        @foreach (var tel in Model.Telefones)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => tel.Numero)
                                </td>
                                <td>
                                    @if (tel.Ativo)
                                    {
                                        <i class="fa-solid fa-check"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-x"></i>
                                    }
                                </td>
                                <td>
                                    <a asp-action="TelefoneDeletar" class="btn btn-danger" asp-route-id="@tel.Id">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="card-footer text-body-secondary">
                <div class="form-group text-center">
                    <input type=submit value="Salvar" class="btn btn-success"/>
                    <a class="btn btn-secondary" asp-action="Index">Voltar</a>
                </div>
               
            </div>
        </form>

    </div>
</div>